# Comptes
COMPTES_PORT=3001
COMPTES_DB_HOST=localhost
COMPTES_DB_PORT=5433
COMPTES_DB_USER=comptes
COMPTES_DB_PASSWORD=comptes
COMPTES_DB_NAME=comptes
SERVICE_TOKEN_COMPTES=dev-service-token-comptes

# Paiements
PAIEMENTS_PORT=3002
PAIEMENTS_DB_HOST=localhost
PAIEMENTS_DB_PORT=5434
PAIEMENTS_DB_USER=paiements
PAIEMENTS_DB_PASSWORD=paiements
PAIEMENTS_DB_NAME=paiements
COMPTES_BASE_URL=http://localhost:3001
SERVICE_TOKEN_PAIEMENTS_TO_COMPTES=dev-service-token-comptes
RABBITMQ_URL=amqp://paynah:paynah@localhost:5672
TRANSACTIONS_BASE_URL=http://localhost:3003
USE_OUTBOX=true

# Transactions
TRANSACTIONS_PORT=3003
TRANSACTIONS_DB_HOST=localhost
TRANSACTIONS_DB_PORT=5435
TRANSACTIONS_DB_USER=transactions
TRANSACTIONS_DB_PASSWORD=transactions
TRANSACTIONS_DB_NAME=transactions

# Commun
JWT_SECRET=dev-jwt-secret-change-me
JWT_EXPIRES_IN=1d
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318